body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .calculator {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }
  
  .display {
    background-color: #d4d4d4;
    padding: 10px;
  }
  
  #result {
    width: 92%;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    text-align: right;
    padding: 0 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
  }
  
  button {
    border: 1px solid #ddd;
    border-radius: 100px;
    margin: 2px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    background-color: #fff;
  }
  
  button:hover {
    background-color: #f1f1f1;
  }
  .orange12 {
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 25px;
  }

  .orange12:hover{
    background-color: rgb(255, 201, 100);
  }

  .orange {
    background-color: orange;
    color: white;
    font-size: 25px;
  }
  
  .orange:hover{
    background-color: rgb(255, 201, 100);
  }

  .equals {
    grid-row: span 2; 
  }
  
  .span-two {
    grid-column: span 2; 
  }
  